0 */3 * * * root python /usr/src/app/Content/Download.py >> /var/log/cron.log 2>&1
0 */3 * * * root python /usr/src/app/GetNounsNLP/NLP.py -u >> /var/log/cron.log 2>&1
0 */3 * * * root python /usr/src/app/UploadContent/UploadPrevNext.py >> /var/log/cron.log 2>&1
0 */3 * * * root python /usr/src/app/UploadContent/UploadSuggestions.py >> /var/log/cron.log 2>&1
# An empty line is required at the end of this file for a valid cron file.